# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.save

Offline 1 (Symbol Table)/1905045.zip

Offline 1 (Symbol Table)/1905045/

*.zip

Offline 2 (Lexical Analysis)/1905045/

Offline 2 (Lexical Analysis)/eval/1905045/

Offline 2 (Lexical Analysis)/lex.yy.c

Offline 2 (Lexical Analysis)/log.txt

Offline 2 (Lexical Analysis)/my_output.txt

Offline 2 (Lexical Analysis)/test/

Offline 2 (Lexical Analysis)/test_input.txt

Offline 2 (Lexical Analysis)/token.txt

Offline 2 (Lexical Analysis)/input_lexical_errors_detection.txt

Offline 2 (Lexical Analysis)/input_tokens_identification.txt

Offline 2 (Lexical Analysis)/input_tokens_identification_log.txt

Offline 2 (Lexical Analysis)/input_tokens_identification_token.txt

Offline 3 (Syntax and Semantic Analysis)/lex.yy.c

Offline 3 (Syntax and Semantic Analysis)/y.tab.c

Offline 3 (Syntax and Semantic Analysis)/y.tab.h

Offline 3 (Syntax and Semantic Analysis)/test

Offline 3 (Syntax and Semantic Analysis)/1905045/

Offline 3 (Syntax and Semantic Analysis)/eval/1905045/

Offline 3 (Syntax and Semantic Analysis)/test-eval/

Offline 3 (Syntax and Semantic Analysis)/test_error.txt

Offline 3 (Syntax and Semantic Analysis)/test_log.txt

Offline 3 (Syntax and Semantic Analysis)/test_parse.txt

Offline 4 (Intermediate Code Generation)/lex.yy.c

Offline 4 (Intermediate Code Generation)/test

Offline 4 (Intermediate Code Generation)/test_error.txt

Offline 4 (Intermediate Code Generation)/test_log.txt

Offline 4 (Intermediate Code Generation)/test_parse.txt

Offline 4 (Intermediate Code Generation)/y.tab.c

Offline 4 (Intermediate Code Generation)/y.tab.h

Offline 4 (Intermediate Code Generation)/1905045_error.txt

Offline 4 (Intermediate Code Generation)/1905045_log.txt

Offline 4 (Intermediate Code Generation)/1905045_parse.txt

Offline 4 (Intermediate Code Generation)/1905045/

*.asm
